@model CintaUang.ViewModels.CategoryViewModels.CategoriesTableViewModel

<table id="datatable">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nama</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model.Categories)
        {
            <tr>
                <td>@category.CategoryId</td>
                <td>@category.CategoryName</td>
            </tr>
        }
    </tbody>
</table>